.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.contactItem {
  width: 300px;
  padding: 10px 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.item {
  color: #ed3221;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  padding: 10px;
}
